/* user panel */
.panels__5e434 {
  overflow: hidden;
  border: none;
  max-width: 500px;
  white-space: nowrap;
  will-change: max-width;

  transition:
    max-width var(--transition-speed) var(--transition-easing),
    background var(--transition-speed) var(--transition-easing);

  :is(.nameTag__37e49, .buttons__37e49) {
    transition: opacity var(--transition-speed) var(--transition-easing);
  }

  :is(.wrapper_e131a9, .fitInAccount_df39b2) {
    overflow: hidden;
    transition:
      max-height var(--transition-speed) var(--transition-easing),
      opacity var(--transition-speed) var(--transition-easing);
  }

  &:not(:hover) {
    max-width: 4rem;
    background: none;
    transition-delay: var(--transition-delay);

    :is(.nameTag__37e49, .buttons__37e49) {
      opacity: 0;
      pointer-events: none;
      transition-delay: var(--transition-delay);
    }

    :is(.wrapper_e131a9, .fitInAccount_df39b2) {
      opacity: 0;
      max-height: 1.5em !important;
      pointer-events: none;
      transition-delay: var(--transition-delay);
    }
  }

  &:hover {
    transition-delay: 0s !important;
    z-index: 1000;

    :is(.nameTag__37e49, .buttons__37e49) {
      opacity: 1;
      pointer-events: auto;
      transition-delay: 0s !important;
    }

    :is(.wrapper_e131a9, .fitInAccount_df39b2) {
      opacity: 1;
      max-height: 16rem;
      pointer-events: auto;
      transition-delay: 0s !important;
    }
  }

  .container_e131a9 {
    border-bottom: none;
  }
}

.buttons__37e49 > .hasColorGlow__5e764 {
  > [role="switch"] {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  > [type="button"]:not([role="switch"]) {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    width: 2em;
  }
}

.section__1f6ca {
  padding-left: 0;
}

/* vencord */
.vc-switch-slider > rect {
  fill: var(--background-base-lowest);
}

.vc-switch-container:not(.vc-switch-checked) {
  background-color: var(--background-base-lowest);
  --primary-400: var(--background-base-lowest);

  > .vc-switch-slider > rect {
    fill: var(--text-default);
  }
}

/* switches */
.switchIndicator_a28278 {
  &:has(.thumb_a28278[style="left: 24px;"]) {
    background-color: var(--background-brand) !important;
  }

  &:has(.thumb_a28278[style="left: 1px;"]) {
    background-color: var(--background-base-lowest) !important;
  }

  > .thumb_a28278 > rect {
    fill: var(--background-base-lowest);
  }

  > .thumb_a28278[style="left: 1px;"] > rect {
    fill: var(--text-default);
  }
}
